###############################################################################
#  identity.cfg · Server identity, network binding, and display
###############################################################################

## Display
sv_hostname         "Strata Network · roleplay built on ox_core"
sets sv_projectName "Strata"
sets sv_projectDesc "A framework-first roleplay world."
sets tags           "strata, ox_core, roleplay, custom"
sets locale         "en-US"
load_server_icon    strata.png

## Capacity + network
sv_maxclients       1
endpoint_add_tcp    "0.0.0.0:30120"
endpoint_add_udp    "0.0.0.0:30120"

## Misc
set steam_webApiKey         "none"
set resources_useSystemChat true
